label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
}

.form-itens {
  clear: both;
  float: none;
  margin: -5px;
}

.form-itens .item {
  width: calc(33% - 10px);
  padding: 5px;
  display: inline-block;
}

.form-itens .item input,
.form-itens .item select {
  width: 100%;
}

.form-itens .item.three input,
.form-itens .item.three select {
  width: calc(30% - 10px);
  margin: 5px;
}

.actions {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid grey;
}

.actions button {
  margin-right: 10px;
}

