/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: "SansSerif", "Arial";
  font-size: 14px;
}

body {
  background: #ededed;
}

form.ng-submitted .ng-invalid {
  border-color: red;
}

form .error {
  display: none;
}

form.ng-submitted .error {
  display: block;
}
